:root {
    --tulisanutama: #2d2d2d;
    --biruutama: #0046be;
    --lightgray: #f6f8fb;
    --darkgray: #6c757d;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: var(--lightgray);
  padding: 60px 20px;
  text-align: center;
}

header img{
  width: 260px;
  height: 120px;
  animation: bounce 2s;
}

@keyframes bounce {
  0%, 25%, 50%, 75%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-10px);
    }
}

header h1 {
  color: var(--tulisanutama);
  font-size: 2.3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
  color: rgb(109, 109, 109);
}

.btn-primary {
  color: var(--lightgray);
  background-color: var(--biruutama);
  display: inline-block;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.btn-primary:hover {
  background-color: var(--biruutama);
}

.steps {
  background-color: white;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 20px;
  gap: 90px;
}

.step i {
  font-size: 2.5rem;
  color: var(--biruutama);
  margin-bottom: 15px;
}

.step h3 {
  color: var(--tulisanutama);
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.step p {
  font-size: 0.9rem;
  color: rgb(109, 109, 109);
  margin-bottom: 30px;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.reviews {
  border-top: 1px solid grey;
  padding: 60px 20px;
}

.reviews h2 {
  color: var(--tulisanutama);
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}

.review-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
  margin: 30px 20px;
  text-align: center;
  justify-content: center;
  }

.review {
  background-color: var(--lightgray);
  padding: 30px 10px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  text-align: center;
  max-width: 300px; 
  margin: 0 auto;
  display: grid;
}

.review p {
  text-align: center;
  color: var(--tulisanutama);
  font-size: 1rem;
  max-width: 300px;
  margin: 0 auto 20px;
}

.review h4 {
  text-align: center;
  color: var(--biruutama);
}

.cta{
  background-color: var(--lightgray);
  text-align: center;
  padding: 60px 20px;
  margin-top: 40px;
}

.cta h2{
  color: var(--tulisanutama);
  font-size: 2rem;
}

.cta p {
  color: var(--darkgray);
  font-size: 1rem;
  margin-top: 20px;
}

footer {
  background-color: var(--biruutama);
  color: var(--lightgray);
  text-align: center;
  padding: 20px 20px;
}

@media (max-width: 768px) {
  header {
      h1 {
          font-size: 2.2rem;
    }
  }
  section {
      p {
          font-size: 1rem;
      }
  }
}